@media (max-width: 1265px){
    .reviews-slider .slick-list{
        margin: 0;
    }
    
    .reviews-slider .slick-slide{
        margin: 0;
    }

    .reviews-box{
        box-shadow: none;
    }
}

@media (max-width: 1160px){
    .price__items{
        flex-wrap: wrap;
    }

    .price-item{
        max-width: 48%;
        margin-bottom: 50px;
    }
    .price-item__number{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media (max-width: 1105px){
    .reviews-slider{
        margin-top: 60px;
    }

    .reviews-box{
        max-width: 520px;
        margin: 0 auto;
    }
}

@media (max-width: 1065px){
    .top-info{
        max-width: 425px;
    }

    .footer__inner{
        flex-wrap: wrap;
    }

    .footer-col__logo{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px){
    .menu__list{
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
        z-index: 5;
    }

    .menu__list li{
        margin-left: 0;
    }

    .button__menu{
        display: block;
    }

    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #2F3F54;
    }
}

@media (max-width: 940px){
    .top-info{
        max-width: 325px;
    }
}

@media (max-width: 855px){
    .top-images__box img{
        width: 300px;
    }
    
    .top-images__circle{
        width: 160px;
        height: 160px;
        top: -30px;
        right: -30px;
    }
}

@media (max-width: 740px){
    .top__inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    .top-info{
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 75px;
    }

    .top, .reviews, .price, .partners{
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .top-images__circle{
        width: 160px;
        height: 160px;
        top: -5px;
        right: 10px;
    }

    .price-item{
        max-width: 100%;
    }

    .footer-form{
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 580px){
    .reviews-box{
        display: block;
    }

    .reviews-box__images{
        width: 100%;
        min-height: 200px;
    }

    .reviews-box__content{
        width: 100%;
        min-height: 260px;
        padding: 20px 20px;
    }
}

@media (max-width: 399){
    .top-info__title{
        font-size: 40px;
        line-height: 42px;
    }

    .top-images__circle{
        top: -5px;
        right: 10px;
    }

    .title{
        font-size: 36px;
        line-height: 40px;
    }

    .price_description{
        margin: 35px auto 50px;
    }

    .price-item{
        padding: 0 20px 60px;
    }

    .footer-menu{
        margin-bottom: 30px;
        width: 100%;
    }

    .footer-form{
        margin-top: 0;
    }
}

@maedia (min-width: 992px){
    .menu__list{
        display: flex !important;
    }

}