
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    background-color: #ffffff;
    font-size: 14px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    border-top: 1px solid #226fd4;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}

.button__menu{
    width: 40px;
    display: none;
}


.button__menu div{
    height: 5px;
    background-color: #2F3F54;
    margin-bottom: 5px;
}


.menu__list{
    display: flex;
}

.menu__list li{
    margin-left: 38px;
}

.menu__list a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54;
}

.top{
    background-image: url("../img/topback.png");
    background-position: bottom;
    padding-top: 150px;
    padding-bottom: 180px;
}

.top__inner{
    display: flex;
}

.top-info{
    max-width: 555px;
    margin-right: 35px;
    color: #ffffff;
}

.top-info__subtitle{
    font-size: 14px;
}

.top-info__title{
    font-family: Roboto;
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    text-transform: uppercase;
}

.top-info__description{
    font-size: 19px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 35px;
}

.top-info__description span{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    display: block;
}

.top-info__list{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px;
}

.top-info__list li{
    margin-bottom: 3px;
}

.top-info__list li img{
    vertical-align: -2px;
}

.top-info__list li::before{
    content: url("../img/icons/checkmark.png");
	margin-right: 11px;
	vertical-align: -2px;
}

.top-info__button{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 30px;

    display: inline-block;
    padding: 13px 44px;
    margin-bottom: 15px;
}

.top-images__box{
    position: relative;
}

.top-images__circle{
    width: 230px;
    height: 230px;
    background-color: #FFFFFF;
    color: #212121;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -50px;
    right: -100px;
}

.top-images__title{
    margin-bottom: 16px;
    width: 140px;
    text-align-last: left;
}

.top-images__price{
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}

.top-images__date{
    width: 140px;
    text-align: right;
}


.reviews{
    padding: 120px 0;
    background-color: #FAFAFA;
}

.reviews-slider{
    margin-top: 160px;
}

.reviews-slider .slick-list{
    margin: 0 -50px;
}

.reviews-slider .slick-slide{
    margin: 0 50px;
    padding-bottom: 70px;
}

.reviews-slider .slick-dots{
    display: flex;
    justify-content: center;
}

.reviews-slider .slick-dots li{
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button{
    background-color: #FFFFFF;
    border: 2px solid #267AE9;
}

.reviews-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #267AE9;
    border-radius: 50%;
    padding: 0;
}

.reviews-box{
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}

.reviews-box__images{
    background-color: #267AE9;
    width: 190px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-box__images img{
    border-radius: 50%;
}

.reviews-box__content{
    padding: 0 40px;
    background-color: #FFFFFF;
    width: 330px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-box__text{
    font-size: 16px;
    line-height: 26px;
    color: #4a6385;
}

.reviews-box__author{
    font-weight: 400;
    color: #2f3f54;
}

.reviews-box__author span{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #267ae9;
}

.price{
    padding: 150px 0 180px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
    text-align: center;
}

.title span{
    color: #2575e7;
}

.price__description{
    max-width: 594px;
    text-align: center;
    margin: 35px auto 125px;
    color: #4a6385;
}

.price__description a{
    color: #e74c3c;
}

.price__description span{
    color: #42d6c1;
}

.price__items{
    display: flex;
    justify-content: space-between;
}

.price-item{
    max-width: 360px;
    box-shadow: 0 21px 49px 1px rgba(41,44,61,0.15);
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
}

.price-item__number{
    width: 265px;
    height: 465px;
    border-radius: 140px;
    color: #ffffff;
    background-color: #267ae9;

    position: absolute;
    top: -370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;

    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #ffffff;
}

.price-item__number span{
    font-size: 16px;
}

.price-item__number .price-euro{
    font-size: 23px;
    line-height: 20px;
    font-weight: 700;
}

.price-item__picture{
    padding-top: 120px;
    text-align: center;
    margin-bottom: 45px;
    min-height: 175px;
}

.price-item__title{
    font-family: Roboto;
    font-size: 31px;
    line-height: 50px;
    font-weight: 700;
    color: #267ae9;
    margin-bottom: 30px;
}

.price-item__description{
    color: #4a6385;
    margin-bottom: 60px;
}

.price-item__list{
    font-size: 16px;
    line-height: 36px;
    color: #4a6385;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 75px;
}

.price-item__list li::before{
    content: url("../img/icons/listmark.png");
	margin-right: 11px;
	vertical-align: -2px;
}

.price-item__button{
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    display: block;
    width: 100%;
    background-color: #267AE9;
    padding: 20px 10px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.partners{
    margin-top: 70px;
    margin-bottom: 80px;
}

.partners__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer{
    background-image: url("../img/footerback.png");
    background-size: cover;
    padding: 80px 0 152px;
    color: #718db2;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer-col__logo{
    width: 263px;
}

.footer__logo{
    display: inline-block;
    margin-bottom: 30px;
}

.footer__text{
    font-family: Lato;
    font-size: 13px;
    line-height: 22px;
    color: #718db2;
    padding-bottom: 33px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.footer__title{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #d0e4ff;

    margin-bottom: 30px;
}

.footer__list li{
    font-family: Lato;
    font-size: 13px;
    line-height: 31px;
}

.footer__menu{
    width: 165px;
}

.footer-form{
    width: 263px;
}

.footer-form input, 
.footer-form textarea{
    border: 1px solid rgba(255,255,255,0.05);
    background-color: transparent;
    width: 100%;
    height: 41px;
    display: block;
    padding: 0 13px;

    font-family: Lato;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #718db2;
}

.footer-form textarea{
    padding: 13px;
    height: 86px;
    resize: none;
    margin-bottom: 10px;
}

.footer-form button{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    background-color: #2575E7;
    padding: 12px 15px;
}
